* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --primary-color: rgb(212, 229, 244);
    --secondary-color: rgb(2, 8, 34);
    --tertiary-color: rgb(106, 177, 192);
    --quaternary-color: rgb(130, 11, 11);
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: var(--primary-color);
}

/* header/navigation styles start */
header {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    background: var(--secondary-color);
    background-size: cover;
    padding: 20px;
    border-bottom: 3px solid var(--tertiary-color);
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    z-index: 9999;
}

header h1 {
    font-size: 30px;
    font-weight: bold;
}

header h1,
header a {
    text-decoration: none;
    color: var(--primary-color);
}

header nav {
    margin: auto 0;
}

header nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    list-style: none;
}

header nav ul li a {
    padding: 10px 20px;
    font-size: 18px;
    font-weight: 600;
}
/* header/navigation styles end */

/* hero styles start */
.hero {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
    /* background-image: url(""); */
    background-size: cover;
    background-position: center;
    /* height: 600px; */
}
/* hero styles end */

/* section title styles start */
.section-title {
    margin: 30px auto 20px auto;
    text-align: center;
    width: 30%;
    font-size: 38px;
    font-weight: 750;
    color: var(--secondary-color);
    padding-bottom: 18px;
    border-bottom: 3px solid var(--secondary-color);
}
/* section title styles end */

/* footer styles start */
footer {
    display: flex;
    justify-content: center;
    margin-top: 30px;
    border-top: 3px solid var(--quaternary-color);
    padding: 20px;
    background: var(--secondary-color);
    color: var(--tertiary-color);
}
/* footer styles end */

/* "About Me" styles start */
.bio {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.bio img {
    background-image: url("../assets/images/alexander-pic.png");
    background-size: cover;
    background-position: 80%;
    width: 300px;
    height: 300px;
    border-radius: 50%;
    margin-right: 10%;
}

.bio-text {
    width: 35%;
    font-size: 18px;
    font-weight: 600;
    line-height: 1.5;
    color: var(--secondary-color);
}

.bio-text a {
    text-decoration: none;
    color: var(--quaternary-color);    
}
/* "About Me" styles end */

/* "My Work" styles start */
.grid-container {
    display: grid;
    justify-content: center;
    /* grid-template-columns: repeat(auto-fit, minmax(250px, 1fr)); */
    /* grid-template-columns: repeat(auto-fill, minmax(250px, 1fr)); */
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-gap: 5px;
    width: 80%;
    margin: 0 auto;
}

.repo {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 20px;
    background-size: cover;
    background-position: top;
    min-height: 150px;
    box-shadow: 0 0 7px black;
}

.repo a {
    padding: 7px 28px 7px 28px;
    border: 3px solid var(--quaternary-color);
    font-weight: bold;
    text-decoration: none;
    text-align: center;
    color: var(--quaternary-color);
    background: var(--primary-color);
    margin: auto 0 13px 0;
    opacity: 0.8;
}

.repo:hover {
    box-shadow: 0 0 13px black;
    opacity: 0.8;
    transition: 0.3s;
}

.repo a:hover {
    color: var(--primary-color);
    background-color: var(--quaternary-color);
    border-color: var(--secondary-color);
    opacity: 1;
}

.party-assist {
    background-image: url("../assets/images/PartyAssistScreenCapture.png");
    grid-column: 1/3;
    grid-row: 3/5;

}

.meal-plan {
    background-image: url("../assets/images/MealPlanDashboard.png");
    grid-column: 1/3;
    grid-row: 1/3;

}

.my-tech-blog {
    background-image: url("../assets/images/my-tech-blog.png")
}

.weather-dashboard {
    background-image: url("../assets/images/weatherscreenshot.png");
}

.coding-quiz {
    background-image: url("../assets/images/Coding-Quiz-Intro.png");
}

.work-day-scheduler {
    background-image: url("../assets/images/work-day-scheduler.png");
}

.password-generator {
    background-image: url("../assets/images/PasswordGeneratorScreenCapture.png");
}

.team-profile-generator {
    background-image: url("../assets/images/team-profile-generator.png");
}

.e-commerce-back-end {
    background-image: url("../assets/images/e-commerce-back-end.png")
}
/* "My Work" styles end */

/* "Contact Me" styles start */
.contact {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
    font-size: 18px;
    font-weight: 600;
    color: var(--secondary-color);
}

.contact p {
    width: 35%;
    line-height: 1.5;
    text-align: center;
    margin-right: 10%;
}

.contact ul {
    list-style: none;
    text-align: left;
    line-height: 1.3;
}

.contact ul a {
    text-decoration: none;
    color: var(--quaternary-color);
}
/* "Contact Me" styles end */

/* UTILITY STYLES START */
.italic {
    font-style: italic;
}

@media screen and (max-width: 790px) {
    header {
        width: 100%;
        justify-content: center;
    }

    header h1 {
        width: 100%;
        text-align: center;
    }

    header nav ul {
        margin-top: 20px;
        width: 100%;
    }

    .grid-container {
        width: 90%;
    }
}

@media screen and (max-width: 540px) {
    header h1 {
        text-align: center;
        font-size: 25px;
    }

    header nav ul li a {
        padding: 10px;
    }

    .section-title {
        display: block;
        width: 70%;
        font-size: 30px;
        border-bottom: 3px solid var(--secondary-color);
    }

    .bio {
        justify-content: center;
    }

    .bio img {
        margin: 0 auto;
    }

    .bio-text {
        width: 80%;
        margin: 20px auto 30px auto;
        text-align: center;
    }

    .grid-container {
        width: 95%;
        grid-template-columns: 1fr;
    }

    .repo a {
        padding: 3px 5px;
        font-size: 16px;
    }

    .party-assist {
        grid-column: 1/3;
        grid-row: 3/5;
        }

    .contact {
        justify-content: center;
        width: 100%;
    }

    .contact p {
        width: 100%;
        margin: 20px 10% 35px 10%;
        text-align: left;
    }

    .contact ul {
        width: 80%;
        margin: 0 10% 20px 10%;
        line-height: 1.5;
    }
}